# Pokemon for Data Science

Using the Pokemon Dataset for playing with and grokking different libraries and exploratory analysis/machine learning (how can I apply ML on Pokemon? No idea (yet)).

Some libraries of my interest:

pandas <br>
numpy <br>
matplotlib <br>
seaborn <br>
bokeh <br>
holoviz (https://github.com/holoviz-community/HoloViz_KDD2022) <br>
scikit-learn <br>
tensorflow <br>
turicreate <br>

#### Notice: I may interchangeably use english and brazilian portuguese in my commentaries, as I don't particularly keep tabs on what language I'm using for thinking. Also, this is supposed to be merely a toy project. Sorry if this may inconvenience you.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('Pokemon.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

We can see here that we have MANY columns... Depending on the analysis we may need to cut some loose in order to better see things.

In [30]:
# getting the columns with null values -> But attention! There may be also other wrong/missing values
df.isnull().sum()[df.isnull().sum()>0]

height_m            20
percentage_male     98
type2              384
weight_kg           20
dtype: int64

In [35]:
columns = df.columns
print(columns.tolist(), '\n'*2 ,'Total columns is ', len(columns))

['abilities', 'against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fight', 'against_fire', 'against_flying', 'against_ghost', 'against_grass', 'against_ground', 'against_ice', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water', 'attack', 'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate', 'classfication', 'defense', 'experience_growth', 'height_m', 'hp', 'japanese_name', 'name', 'percentage_male', 'pokedex_number', 'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg', 'generation', 'is_legendary']

 Total columns is  41

In [36]:
for col in columns.tolist():
    print(col)

abilities
against_bug
against_dark
against_dragon
against_electric
against_fairy
against_fight
against_fire
against_flying
against_ghost
against_grass
against_ground
against_ice
against_normal
against_poison
against_psychic
against_rock
against_steel
against_water
attack
base_egg_steps
base_happiness
base_total
capture_rate
classfication
defense
experience_growth
height_m
hp
japanese_name
name
percentage_male
pokedex_number
sp_attack
sp_defense
speed
type1
type2
weight_kg
generation
is_legendary

In [32]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [33]:
df.describe()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,height_m,hp,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,...,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,801.000000,781.000000,801.000000,801.000000
mean,0.996255,1.057116,0.968789,1.073970,1.068976,1.065543,1.135456,1.192884,0.985019,1.034020,...,1.163892,68.958801,55.155761,401.000000,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,0.597248,0.438142,0.353058,0.654962,0.522167,0.717251,0.691853,0.604488,0.558256,0.788896,...,1.080326,26.576015,20.261623,231.373075,32.353826,27.942501,28.907662,109.354766,1.930420,0.282583
min,0.250000,0.250000,0.000000,0.000000,0.250000,0.000000,0.250000,0.250000,0.000000,0.250000,...,0.100000,1.000000,0.000000,1.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,0.500000,1.000000,1.000000,0.500000,...,0.600000,50.000000,50.000000,201.000000,45.000000,50.000000,45.000000,9.000000,2.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,65.000000,50.000000,401.000000,65.000000,66.000000,65.000000,27.300000,4.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.500000,80.000000,50.000000,601.000000,91.000000,90.000000,85.000000,64.800000,5.000000,0.000000
max,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,14.500000,255.000000,100.000000,801.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000

In [34]:
df.name

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
796    Celesteela
797       Kartana
798      Guzzlord
799      Necrozma
800      Magearna
Name: name, Length: 801, dtype: object

In [39]:
# pegando index da coluna against_water para ver até qual coluna devo dropar
df.columns.get_loc('against_water')

18

In [58]:
# df.drop("column_name", axis=1, inplace=True)
# pegando as colunas que quero dropar
columns_to_drop = df.columns.tolist()[1:19]
print(columns_to_drop)

# dropando elas
df_no_against = df.drop(columns_to_drop, axis=1)

['against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fight', 'against_fire', 'against_flying', 'against_ghost', 'against_grass', 'against_ground', 'against_ice', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water']

In [44]:
df_no_against.head()

,abilities,against_water,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",0.5,49,5120,70,318,45,Seed Pokémon,49,1059860,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",0.5,62,5120,70,405,45,Seed Pokémon,63,1059860,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",0.5,100,5120,70,625,45,Seed Pokémon,123,1059860,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",2.0,52,5120,70,309,45,Lizard Pokémon,43,1059860,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",2.0,64,5120,70,405,45,Flame Pokémon,58,1059860,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [59]:
df_no_against[['abilities','name']].head(20)

                                            abilities        name
0                         ['Overgrow', 'Chlorophyll']   Bulbasaur
1                         ['Overgrow', 'Chlorophyll']     Ivysaur
2                         ['Overgrow', 'Chlorophyll']    Venusaur
3                            ['Blaze', 'Solar Power']  Charmander
4                            ['Blaze', 'Solar Power']  Charmeleon
5                            ['Blaze', 'Solar Power']   Charizard
6                            ['Torrent', 'Rain Dish']    Squirtle
7                            ['Torrent', 'Rain Dish']   Wartortle
8                            ['Torrent', 'Rain Dish']   Blastoise
9                         ['Shield Dust', 'Run Away']    Caterpie
10                                      ['Shed Skin']     Metapod
11                    ['Compoundeyes', 'Tinted Lens']  Butterfree
12                        ['Shield Dust', 'Run Away']      Weedle
13                                      ['Shed Skin']      Kakuna
14                                ['Swarm', 'Sniper']    Beedrill
15          ['Keen Eye', 'Tangled Feet', 'Big Pecks']      Pidgey
16          ['Keen Eye', 'Tangled Feet', 'Big Pecks']   Pidgeotto
17          ['Keen Eye', 'Tangled Feet', 'Big Pecks']     Pidgeot
18  ['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...     Rattata
19  ['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...    Raticate

In [55]:
df_no_against.shape

(801, 24)

In [64]:
# escolhendo uma row de um pokemon específicio do meu interesse
df_no_against.loc[df_no_against.name == "Dragonite"]

,abilities,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
148,"['Inner Focus', 'Multiscale']",134,10240,35,600,45,Dragon Pokémon,95,1250000,2.2,...,50.0,149,100,100,80,dragon,flying,210.0,1,0